<div class="container-fluid">
    <h3 class="center">
        <img src="{{chat.sender.image}}" width="64px" class="chatroom-users rounded-circle">
        <img src="{{chat.receiver.image}}" width="64px" class="chatroom-users rounded-circle"> 
    </h3>
 <div id='message'>
        {{#each chat}}
    {{#each chats}}
    {{#if senderMessage}}
    <div class="media">
        <img src="{{senderName.image}}" class="mr-3 chatroom-users rounded-circle" >
        <div class="media-body">
            <h5 class="mt-0">{{senderMessage}}</h5>
            <small>{{date}}</small>
        </div>
    </div>
    {{/if}}
    {{/each}}
    {{/each}}

    <hr>

    {{#each chat}}
    {{#each chats}}
    {{#if receiverMessage}}
    <div class="media">
        <img src="{{receiverName.image}}" class="mr-3 chatroom-users rounded-circle" >
        <div class="media-body">
            <h5 class="mt-0">{{receiverMessage}}</h5>
            <small>{{date}}</small>
        </div>
    </div>
    {{/if}}
    {{/each}}
    {{/each}}
 </div>

    <form action="/chat/{{chat._id}}" method="POST">
        <input type='text' class="form-control" name="chat" placeholder="Type message here.">
        <br>
        <button class="btn btn-primary" type="submit"> Send</button>
    </form>
</div>