
<div class="container-fluid ">

{{#each onlineUsers}}
{{#if online}}
<a href="/userProfile/{{_id}}" >
    <div class="row" >
        <div class="col-sm-3">
            <img src="{{image}}" class="mr-3 chatroom-users rounded-circle"  >
            <br>
            <i class='fa fa-circle green'> Online </i>
        </div>
    </div>

</a>

{{else}}

<a href="/userProfile/{{_id}}">

    <div class="row">
        <div class="col-sm-3 ">
            <img src="{{image}}" class="rounded-circle" width="64px">
        <br>
            <div scr="{{user.fullname}}"></div>
            <i class='fa fa-circle red'> Offline </i>
        </div>
    </div>
</a>
{{/if}}

{{else}}
<p> No online user found </p>
{{/each}}

</div>